.nav {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #fafafa;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}

.nav > h1 {
  font-size: 40px;
  margin: 0;
  color: rgb(48, 41, 54);
}

.nav > img {
  border-radius: 50%;
  margin-left: 12px;
}

.display-none {
  opacity: 0;
}
